body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  
}

.navbar-brand, .nav-link{
  color: white !important;
}

.navbar{
  background-color: #00a64a !important  ;
  margin-bottom: 20px;
  
}
.cardMargin{
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 10px;
}


.cityCardMargin{
  margin-bottom: 16px;
  
}

.title{
  font-weight: bolder;
  margin-bottom: 16px;
}
.citiesName{
  text-align: center !important;
  text-decoration: none !important;
  color: black;
  font-weight: bolder ;
}




/* font-family: 'Montserrat', sans-serif;*/
/* #02a64a*/
